body{
    font-family: 'Droid Sans', sans-serif;
    background-color: <?php echo($blue1); ?>;
    color: #000000;
    font-size: 150%;
}
#forum_div{
    z-index: 1;
    position: relative;
}
.forum_user{
    margin-right: 1%;
    padding-right: 1%;
    text-align: center;
}

.forum_post{
    display: inline-block;
    flex-grow: 1;
}
.forum_entry{
    position: relative;
    margin: 2px;
    background-color: <?php echo($green2); ?>;
    border: 5px solid <?php echo($green3); ?>;
    border-radius: 10px;
    display: flex;
}
.forum_entry .forum_user{
    background-color: <?php echo($green3); ?>;
}
.forum_entry_me{
    position: relative;
    margin: 2px;
    background-color: <?php echo($orange2); ?>;
    border: 5px solid <?php echo($orange3); ?>;
    border-radius: 10px;
    display: flex;
}
.forum_entry_me .forum_user{
    background-color: <?php echo($orange3); ?>;
}
#title_menu_bar{
    position: static;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: <?php echo($blue2); ?>;
    margin-bottom: 2%;
}
#title_menu_bar h1{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.desk #title_menu_bar h1{
    font-size: 300%;
}
.phone #title_menu_bar h1{
    font-size: 200%;
}
#title_menu_bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: <?php echo($blue3); ?>;
}
.desk #title_menu_bar ul li{
    float: left;
}
.phone #title_menu_bar ul li{
    float: none;
}
.desk #pages_menu{
    display: inherit;
}
.phone #pages_menu{
    display: none;
}
#phone_button{
    background-color: <?php echo($blue4); ?>;
}
.desk #phone_button{
    display: none;
}
.phone #phone_button{
    display: inherit;
    text-align: center;
}
.desk #title_menu_bar ul li{
    clear: none;
}
.phone #title_menu_bar ul li{
    clear: left;
}
#title_menu_bar ul .page a{
    display: block;
    color: <?php echo($blue0); ?>;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#title_menu_bar ul .page a:hover {
    color: <?php echo($blue3); ?>;
    background-color: <?php echo($blue0); ?>;
}
#title_menu_bar ul .account a{
    display: block;
    color: <?php echo($green2); ?>;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#title_menu_bar ul .account a:hover {
    color: <?php echo($green3); ?>;
    background-color: <?php echo($green0); ?>;
}
#title_menu_bar ul .special a{
    display: block;
    color: <?php echo($orange2); ?>;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#title_menu_bar ul .special a:hover {
    color: <?php echo($orange3); ?>;
    background-color: <?php echo($orange0); ?>;
}

#user_info{
    z-index:99;
    position: fixed;
    background-color: <?php echo(hex2rgba($blue4,0.3)); ?>;
    color: <?php echo($blue0);?>;
    right: 0;
    top: 0;
    padding: 1%;
    text-align: center;
}
.account_form{
    text-align: center;
}
#order_select{
  display: flex;
  flex-direction: row;
}
#order_select div{
  margin-right: 10px;
}
#order_select div:hover{
  cursor: pointer;
  text-decoration: underline;
}
.buttons *:hover{
    cursor: pointer;
}
.buttons *{
  margin-left: 5px;
  width: 50px;
  border: none;
  text-align: center;
  border-radius: 5px;
  height: 100%;
}
.buttons .like{
    background-color: #FBC;/*<?php echo($red4); ?>;*/
}
.buttons .delete{
    background-color: <?php echo($red4); ?>;
}
.buttons .edit{
    display: none;
    border-radius: 5px;
    background-color: <?php echo($blue3); ?>;
    border: none;
    text-align: center;
    height: 100%;
}
